In [1]:
print("üß≥ Welcome to Wanderlust Travel Agency üß≠")

üß≥ Welcome to Wanderlust Travel Agency üß≠

In [2]:
destinations = []

In [3]:
n = int(input("How many destinations do you want to enter? "))

How many destinations do you want to enter?  5

In [4]:
for i in range(n):
    place = input(f"Enter destination #{i+1}: ")
    destinations.append(place)

print("\nYour travel wishlist:")
print(destinations)

Enter destination #1:  usa
Enter destination #2:  paris
Enter destination #3:  cap town
Enter destination #4:  wales
Enter destination #5:  manchester

Your travel wishlist:
['usa', 'paris', 'cap town', 'wales', 'manchester']

In [5]:
check_place = input("\nEnter a place to check how frequently you're flying there: ")
frequency = destinations.count(check_place)
print(f"You have entered '{check_place}' {frequency} time(s).")

Enter a place to check how frequently you're flying there:  manchester

You have entered 'manchester' 1 time(s).

In [7]:
index = int(input("\nEnter the index where you want to insert a new destination: "))
new_place = input("Enter the new destination: ")
destinations.insert(index, new_place)
print("\nUpdated destinations list after insertion:")
print(destinations)

Enter the index where you want to insert a new destination:  2
Enter the new destination:  new york

Updated destinations list after insertion:
['usa', 'paris', 'new york', 'cap town', 'wales', 'manchester']

In [8]:
remove_place = input("\nEnter a destination to remove from your list: ")
if remove_place in destinations:
    destinations.remove(remove_place)
    print(f"'{remove_place}' removed successfully.")
else:
    print(f"'{remove_place}' is not in your list.")

Enter a destination to remove from your list:  cap town

'cap town' removed successfully.

In [9]:
destinations.sort()
print("\nSorted destinations list:")
print(destinations)

Sorted destinations list:
['manchester', 'new york', 'paris', 'usa', 'wales']

In [10]:
destinations.reverse()
print("\nReversed destinations list:")
print(destinations)

Reversed destinations list:
['wales', 'usa', 'paris', 'new york', 'manchester']

In [11]:
copied_list = destinations.copy()
print("\nCopied destinations list:")
print(copied_list)

Copied destinations list:
['wales', 'usa', 'paris', 'new york', 'manchester']

In [12]:
search_place = input("\nEnter a destination to find its index: ")
if search_place in destinations:
    idx = destinations.index(search_place)
    print(f"The destination '{search_place}' is at index {idx}.")
else:
    print(f"The destination '{search_place}' is not in the list.")

Enter a destination to find its index:  manchester

The destination 'manchester' is at index 4.

In [13]:
m = int(input("\nHow many more destinations would you like to add (extend)? "))
extra = []
for i in range(m):
    extra.append(input(f"Enter extra destination #{i+1}: "))

destinations.extend(extra)
print("\nList after extending with more destinations:")
print(destinations)

How many more destinations would you like to add (extend)?  2
Enter extra destination #1:  himachal
Enter extra destination #2:  assam

List after extending with more destinations:
['wales', 'usa', 'paris', 'new york', 'manchester', 'himachal', 'assam']

In [14]:
clear_choice = input("\nDo you want to clear your list? (yes/no): ").strip().lower()
if clear_choice == "yes":
    destinations.clear()
    print("Your destination list is now empty.")
else:
    print("List was not cleared. Final destinations list:")
    print(destinations)

Do you want to clear your list? (yes/no):  no

List was not cleared. Final destinations list:
['wales', 'usa', 'paris', 'new york', 'manchester', 'himachal', 'assam']

In [15]:
remove_place = input("\nüóëÔ∏è Enter a destination to remove: ")
if remove_place in destinations:
    destinations.remove(remove_place)
    print(f"'{remove_place}' removed successfully.")
else:
    print(f"'{remove_place}' is not in the list.")

üóëÔ∏è Enter a destination to remove:  himachal

'himachal' removed successfully.

In [18]:
destinations.sort()
print("\nüìë Sorted destinations list:")
print(destinations)

üìë Sorted destinations list:
['assam', 'manchester', 'new york', 'paris', 'usa', 'wales']

In [19]:
destinations.reverse()
print("\nüîÉ Reversed destinations list:")
print(destinations)

üîÉ Reversed destinations list:
['wales', 'usa', 'paris', 'new york', 'manchester', 'assam']

In [20]:
copied_list = destinations.copy()
print("\nüìÑ Copied list:")
print(copied_list)

üìÑ Copied list:
['wales', 'usa', 'paris', 'new york', 'manchester', 'assam']

In [21]:
search_place = input("\nüîé Enter a destination to find its index: ")
if search_place in destinations:
    idx = destinations.index(search_place)
    print(f"'{search_place}' found at index {idx}.")
else:
    print(f"'{search_place}' is not in the list.")

üîé Enter a destination to find its index:  paris

'paris' found at index 2.

In [22]:
if destinations:
    pop_index = int(input("\nüéØ Enter index to pop (remove and show) destination: "))
    if 0 <= pop_index < len(destinations):
        popped = destinations.pop(pop_index)
        print(f"'{popped}' has been popped from the list.")
    else:
        print("Invalid index for popping.")

üéØ Enter index to pop (remove and show) destination:  1

'usa' has been popped from the list.

In [23]:
print(f"\nüì¶ Total destinations in list: {len(destinations)}")

üì¶ Total destinations in list: 5

In [24]:
print("\nüèÜ Top 3 destinations in your list (if available):")
print(destinations[:3])

üèÜ Top 3 destinations in your list (if available):
['wales', 'paris', 'new york']

In [25]:
unique_destinations = list(set(destinations))
print("\nüåç Unique destinations (duplicates removed):")
print(unique_destinations)

üåç Unique destinations (duplicates removed):
['new york', 'wales', 'paris', 'manchester', 'assam']

In [26]:
clear_choice = input("\nüßπ Do you want to clear your list? (yes/no): ").strip().lower()
if clear_choice == "yes":
    destinations.clear()
    print("üóëÔ∏è Your destination list is now empty.")
else:
    print("üìå Final destination list:")
    print(destinations)

üßπ Do you want to clear your list? (yes/no):  no

üìå Final destination list:
['wales', 'paris', 'new york', 'manchester', 'assam']

In [27]:
from tabulate import tabulate

In [28]:
destinations = ['wales', 'paris', 'new york', 'manchester', 'assam']

In [29]:
destination_prices = {
    'wales': 75000,
    'paris': 120000,
    'new york': 150000,
    'manchester': 80000,
    'assam': 25000
}

In [30]:
table_data = []
for place in destinations:
    price = destination_prices.get(place, "Not Available")
    table_data.append([place.title(), f"‚Çπ {price:,}"])

In [31]:
print("\nüåç Travel Destination Pricing Table:\n")
print(tabulate(table_data, headers=["Destination", "Price"], tablefmt="fancy_grid"))

üåç Travel Destination Pricing Table:

‚ïí‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï§‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïï
‚îÇ Destination   ‚îÇ Price     ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ Wales         ‚îÇ ‚Çπ 75,000  ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ Paris         ‚îÇ ‚Çπ 120,000 ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ New York      ‚îÇ ‚Çπ 150,000 ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ Manchester    ‚îÇ ‚Çπ 80,000  ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ Assam         ‚îÇ ‚Çπ 25,000  ‚îÇ
‚ïò‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïß‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïõ

In [32]:
destination_data = {
    'wales':      {'price': 75000,   'days': 6},
    'paris':      {'price': 120000,  'days': 7},
    'new york':   {'price': 150000,  'days': 10},
    'manchester': {'price': 80000,   'days': 5},
    'assam':      {'price': 25000,   'days': 4}
}

In [33]:
INR_TO_USD = 0.012

In [34]:
print("üß≥ Welcome to Wanderlust Travel Agency üß≠")
user_list = []
n = int(input("Enter how many destinations you'd like to check: "))
for i in range(n):
    dest = input(f"Enter destination #{i+1}: ").strip().lower()
    user_list.append(dest)

üß≥ Welcome to Wanderlust Travel Agency üß≠

Enter how many destinations you'd like to check:  5
Enter destination #1:  Wales
Enter destination #2:  Paris
Enter destination #3:   New York
Enter destination #4:  Manchester
Enter destination #5:  Assam

In [35]:
table = []
for place in user_list:
    data = destination_data.get(place)
    if data:
        price_inr = data['price']
        price_usd = round(price_inr * INR_TO_USD, 2)
        days = data['days']
        table.append([
            place.title(),
            f"‚Çπ {price_inr:,}",
            f"{days} days",
            f"$ {price_usd:,}"
        ])
    else:
        table.append([
            place.title(),
            "Not Available",
            "N/A",
            "N/A"])

In [36]:
print("\nüåç Travel Package Summary:\n")
print(tabulate(
    table,
    headers=["Destination", "Price (INR)", "Trip Duration", "Price (USD)"],
    tablefmt="fancy_grid"
))

üåç Travel Package Summary:

‚ïí‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï§‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï§‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï§‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïï
‚îÇ Destination   ‚îÇ Price (INR)   ‚îÇ Trip Duration   ‚îÇ Price (USD)   ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ Wales         ‚îÇ ‚Çπ 75,000      ‚îÇ 6 days          ‚îÇ $ 900.0       ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ Paris         ‚îÇ ‚Çπ 120,000     ‚îÇ 7 days          ‚îÇ $ 1,440.0     ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ New York      ‚îÇ ‚Çπ 150,000     ‚îÇ 10 days         ‚îÇ $ 1,800.0     ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ Manchester    ‚îÇ ‚Çπ 80,000      ‚îÇ 5 days          ‚îÇ $ 960.0       ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ Assam         ‚îÇ ‚Çπ 25,000      ‚îÇ 4 days          ‚îÇ $ 300.0       ‚îÇ
‚ïò‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïß‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïß‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïß‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïõ

In [37]:
print("THANK YOU!")

THANK YOU!